.button {
    width: 100%;
    background-color: #408A71;
    color: #FFF6F6;
    border: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.75rem;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}